<!DOCTYPE html>
<html lang="en">
{% extends 'nav_bar_for_navigation_page.html' %}
{% load static %}
{% block head %}
<head>
    <script src="https://kit.fontawesome.com/3afd3220e7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bs5/bootstrap.css' %}">
    <title>Quiz</title>
{{ block.super }}
</head>
{% endblock %}
{% block body %}
<body>
  <div class="container" style="
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
   min-height: 100vh;">
    <div class="row">
      <div class="col">
        <form method="post" action="{% url 'study_platform:result' %}" id="answer"> {% csrf_token %}
        <input type="hidden" name="question_num" value="{{ question_num }}">
        <input type="hidden" name="i" value="{{ i }}">
          <ul class="shadow list-group my-3">
              {% for question in questions %}
            <li class="list-group-item">
              <div class="card my-3" style="width: 30rem">
                <div class="card-body">
                  <div class="card-title">
                    <h6><b>{{ forloop.counter }}</b></h6>
                  </div>
                  <p class="card-text">{{ question.card_content }}</p><br>
                    {% for option in question.option_set.all %}
                  <div class="form-check">
                    <label for="answer{{ option.opt_id }}">{{ option.opt_content }}</label>
                    <input class="form-check-input" type="radio" name="answer{{ forloop.parentloop.counter }}" id="answer{{ option.opt_id }}" value="{{ option.opt_id }}">
                  </div>
                        {% endfor %}
                </div>
              </div>
            </li>
              {% endfor %}
          </ul>
        </form>
          <button type="submit" class="btn btn-secondary" form="answer">Confirm</button>
          <button class="btn btn-outline-secondary" onclick="window.location.href='{% url 'study_platform:card_set_list' %}' ">Quit</button>
      </div>
    </div>
  </div>
</body>
{% endblock %}
</html>
