<!DOCTYPE html>
<html lang="en">
{% extends 'nav_bar.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bs5/bootstrap.css' %}">
{{ block.super }}
</head>
{% endblock %}
{% block body %}
<body>
{% block nav %}{{ block.super }}{% endblock %}
<div class="container" style="text-align: center">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Nickname</th>
                <th scope="col">Rank</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Wuhuu</td>
                <td>WuDi</td>
                <td>asdkjadlk</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Wuhuu</td>
                <td>WuDi</td>
                <td>asdkjadlk</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Wuhuu</td>
                <td>WuDi</td>
                <td>asdkjadlk</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="{% static 'bs5/bootstrap.js' %}"></script>
</body>
{% endblock %}
</html>