<!DOCTYPE html>
<html lang="en">
  {% extends 'nav_bar_for_navigation_page.html' %}
  {% load static %}
  {% block head %}
<head>
    <script src="https://kit.fontawesome.com/3afd3220e7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bs5/bootstrap.css' %}">
  <title>Navigation</title>
  <style>
    .feature_tab{
        height: 10rem;
    }
    .tab_content{
        position: relative;
        top:43%;
    }
    .background_content{
        position: relative;
        top:80%;
        color: white;
    }
  </style>
{{ block.super }}
</head>
  {% endblock %}
  {% block body %}
<body>
{% block nav %}{{ block.super }}{% endblock %}
  <div class="container" style="text-align: center">
    <div class="row">
      <div class="col" >

      </div>
    </div>
    <div class="row" style="height: 27.5rem;background-size:cover; background-repeat:no-repeat;background-position: center;
        background-image: url('{% static 'images/background.png' %}')">
      <div class="col-3 background_content"><h1>01</h1></div>
      <div class="col-3 background_content"><h1>02</h1></div>
      <div class="col-3 background_content"><h1>03</h1></div>
      <div class="col-3 background_content"><h1>04</h1></div>
    </div>
    <div class="row">
      <div class="feature_tab col-3 border-start border-dark"><a role="button"><h4 class="tab_content">CHAT ROOM</h4></a></div>
      <div class="feature_tab col-3 border-start border-dark"><a role="button"><h4 class="tab_content">FORUM</h4></a></div>
      <div class="feature_tab col-3 border-start border-dark"><a role="button" href="{% url 'study_platform:card_set_list' %}"><h4 class="tab_content">STUDY CARD</h4></a></div>
      <div class="feature_tab col-3 border-start border-end border-dark"><a role="button" href="{% url 'study_platform:shop' %}"><h4 class="tab_content">SHOP</h4></a></div>
    </div>
  </div>
</body>
{% endblock %}
</html>