<!DOCTYPE html>
<html lang="en">
{% extends 'nav_bar.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="{% static 'BootstrapPractice/images/fav_icon.ico' %}">
    <script src="https://kit.fontawesome.com/3afd3220e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="{% static 'webpage_background.css' %}">
    <style>
        .user-item{
            width: 8rem;
            height: 16rem;
            background-size: 8rem 16rem;
        }
        .icon-img{
            width: 2rem;
            height: 2rem;
            position: relative;
            top: -5px;
        }
        [class*="col"]{
            text-align: center;
        }
    </style>
    {{ block.super }}
</head>
{% endblock %}
{% block body %}
<body>


<div class="container" >
  <div class="row" style="height: 9rem">
      {% block nav %}{{ block.super }}{% endblock %}
  </div>
    <div class="row" style="max-width: 70rem; position: relative; left: 9%">
        <ul class="nav nav-tabs my-3" id="profileRedirect" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="basicProfile-tab" data-bs-toggle="tab" href="#basicProfile" role="tab" aria-controls="basicProfile" aria-selected="true">Basic Profile</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="inventory-tab" data-bs-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false">Inventory</a>
            </li>
            {% if perm_valid %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="editProfile-tab" data-bs-toggle="tab" href="#editProfile" role="tab" aria-controls="editProfile" aria-selected="false">Edit Profile</a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="basicProfile" role="tabpanel" aria-labelledby="basicProfile-tab">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'images/bex3.jpg' %}" alt="" class="my-3 img-fluid rounded-circle" style="height:200px; width: 200px; border-bottom: 8px">
                        <p>Show selected title here</p>
                        <h1> {{ user_full_name }} </h1>
                        {% if user_tier %}
                            <small> {{ user_tier }} </small><br><br>
                        {% else %}
                            <br><br>
                        {% endif %}
                        <div class="row" >
                            <div class="col-6">
                                <p>DOB: </p>
                            </div>
                            {% if DOB %}
                                <div class="col-6" >
                                    <p> {{ DOB }} </p>
                                </div>
                            {% else %}
                                <div class="col-6" >
                                    <p> ???? </p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row" >
                            <div class="col-6">
                                <p>Nickname: </p>
                            </div>
                            <div class="col-6" >
                                {% if user_nickname %}
                                    <p> {{ user_nickname }} </p>
                                {% else %}
                                    <p> ???? </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Email: </p>
                            </div>
                            <div class="col-6">
                                <p>{{ email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p>Course: </p>
                            </div>
                            <div class="col-6">
                                <p>{{ course }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-6" style="text-align: start">
                        <div class="row" style="height: 3rem"></div>
                        <div class="row my-4">
                            <h4><img class="icon-img mx-1" src="{% static '/images/Gold.jpg' %}" alt="">Gold</h4><hr>
                            <p>{{ gold }}</p>
                        </div>
                        <div class="row my-4">
                            <h4><img class="icon-img mx-1"  src="{% static '/images/Achievement.jpg' %}" alt="">Achievement</h4><hr>
                            <ul class="list-group list-group-flush">
                                {% for a in achievement %}
                                    <li class="list-group-item"><h4>{{ a.name }}</h4><p>{{ a.description }}</p></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="row my-4">
                            <h4><img class="icon-img mx-1"  src="{% static 'images/Team.jpg' %}" alt="">Team</h4><hr>
                            <p>{{ team }}</p>
                        </div>
                        <div class="row my-4">
                            <h4><img class="icon-img mx-1"  src="{% static 'images/Society.png' %}" alt="">Society</h4><hr>
                            <p>Data</p>
                        </div>
                        <div class="row my-4">
                            <h4><img class="icon-img mx-1"  src="{% static 'images/Rank.png' %}" alt="">Rank</h4><hr>
                            <p>Data</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
                <div class="row">
                    <div class="col-2">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="collections-tab" data-bs-toggle="pill" href="#collections" role="tab" aria-controls="collections" aria-selected="true">Collections</a>
                            <a class="nav-link" id="avatars-tab" data-bs-toggle="pill" href="#avatars" role="tab" aria-controls="avatars" aria-selected="false">Avatars</a>
                            <a class="nav-link" id="badges-tab" data-bs-toggle="pill" href="#badges" role="tab" aria-controls="badges" aria-selected="false">Badges</a>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="collections" role="tabpanel" aria-labelledby="collections-tab">
                                <div class="row">
                                    {% for i in "1234" %} <!-- TODO: for all collections in a row (4 items) -->
                                        <div style="width: 9rem; height: 17rem">
                                            <div class="card user-item" id="HuangJie" style="background-image: url('{% static 'images/SampleImage.jpg' %}')"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="avatars" role="tabpanel" aria-labelledby="avatars-tab">
                                <div class="row">
                                    {% for i in "1234" %} <!-- TODO: for all avatars in a row (4 items) -->
                                        <div style="width: 9rem; height: 17rem">
                                            <div class="card user-item" id="HuangJie" style="background-image: url('{% static 'images/SampleImage.jpg' %}')"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="badges" role="tabpanel" aria-labelledby="badges-tab">
                                <div class="row">
                                    {% for i in "1234" %} <!-- TODO: for all badges in a row (4 items) -->
                                        <div style="width: 9rem; height: 17rem">
                                            <div class="card user-item" id="HuangJie" style="background-image: url('{% static 'images/SampleImage.jpg' %}')"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card" style="position: fixed; right: 14%; top: 29%; width: 15rem; min-height: 21rem">
                            <div class="card-body">
                                <h3 class="card-title" id="title-text"></h3>
                                <p class="card-text fs-5" id="description-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%  if perm_valid %}
            <div class="tab-pane fade" id="editProfile" role="tabpanel" aria-labelledby="editProfile-tab">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class="card-title">Edit your profile</h4>
                                <div class="row">
                                    <div class="col">
                                        <form method="post" id="profile-form" style="text-align: start"> {% csrf_token %}
                                            <div class="mb-2">
                                                <label for="new-avatar">Avatar:</label>
                                                <input type="file" name="avatar" id="new-avatar">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="first-name">Last Name:</label>
                                                <input class="form-control" type="text" name="first-name" id="first-name">
                                                <label class="form-label" for="last-name">First Name:</label>
                                                <input class="form-control" type="text" name="last-name" id="last-name">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="titles">Title:</label>
                                                <select class="form-control" name="titles" id="titles">
                                                    <!-- TODO: add options based on user profile -->
                                                    <option value="HuangJieLaJi">HuangJieLaJi</option>
                                                    <option value="ZhuBaoYYDS">ZhuBaoYYDS</option>
                                                    <option value="AnnabelleYaSei">AnnabelleYaSei</option>
                                                    <option value="BethanyHanHan">BethanyHanHan</option>
                                                </select>
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="DOB">Date of Birth:</label>
                                                <input class="form-control" type="date" name="DOB" id="DOB">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="nickname">Nickname:</label>
                                                <input class="form-control" type="text" name="nickname" id="nickname">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="email">Email:</label>
                                                <input class="form-control" type="email" name="email" id="email">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="course">Course:</label>
                                                <input class="form-control" type="text" name="course" id="course">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="team">Team:</label>
                                                <input class="form-control" type="text" name="team" id="team">
                                            </div>
                                            <div class="mb-2">
                                                <label class="form-label" for="society">Society:</label>
                                                <input class="form-control" type="text" name="society" id="society">
                                            </div>
                                            <button class="btn btn-warning" type="submit" form="profile-form">Confirm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
  <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
  <script src="{% static 'bs5/bootstrap.js' %}"></script>
  <script>
      // Note that we need to load all description text when the page is load since django template only runs once
      // store all descriptions in descriptions
      let descriptions = {
          "HuangJie": "LaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJiLaJi",
          "ZhuBao": "YYDS",
          "Bethany": "HanHan",
          "Annabelle": "YaSeiLaLei",
          "LuRenJia": "WuHuu",
      };
      let userItems = document.getElementsByClassName("user-item");
      for(let i=0;i<userItems.length;i++){
          userItems[i].addEventListener('mouseover', function (){displayDescription(userItems[i].id)});
      }

      function displayDescription(id){
          document.getElementById("title-text").innerHTML = id;
          document.getElementById("description-text").innerHTML = descriptions[id];
      }
  </script>
</body>
{% endblock %}
</html>
