<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
{#    <link rel="{% static 'BootstrapPractice/images/fav_icon.ico' %}">#}
    <script src="https://kit.fontawesome.com/3afd3220e7.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>My Profile</title>
        <style>
        [class*="col"]{
            padding: 1rem;
            background-color:#d3d3d4;
            border: 2px solid #ffffff;
            color: black;
            text-align: center;
        }
        [class*="con"]{
            padding: 1rem;
            background-color: white;
            border: 2px solid white;
            color: white;
            text-align: center;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'bs5/bootstrap.css' %}">
</head>
<body>


<div class="container-md">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/bex3.jpg' %}" alt="" class="img-fluid rounded-circle" style="height:200px; width: 200px; border-bottom: 8px">
            <p>Show selected title here</p>
            <h1> Full Name </h1><br>
            <small>User Tier:</small>
            <small> Data</small>
            <div class="row" >
                <div class="col-4">
                    <p>DOB: </p>
                </div>
                <div class="col-8" >
                    <p>Data</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-4">
                    <p>Nickname: </p>
                </div>
                <div class="col-8">
                    <p>Data</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Email: </p>
                </div>
                <div class="col-8">
                    <p>Data</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <p>Course: </p>
                </div>
                <div class="col-8">
                    <p>Data</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card my-3">
                <div class="card-body">
                    <h6 class="card-title"><i class="fab fa-angellist"></i>Resource</h6>
                    <p class="card-text">Data</p>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <h6 class="card-title"><i class="fab fa-angellist"></i>Achievement</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p>Data</p></li>
                        <li class="list-group-item"><p>Data</p></li>
                        <li class="list-group-item"><p>Data</p></li>
                    </ul>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <h6 class="card-title"><i class="fab fa-angellist"></i>Team</h6>
                    <p class="card-text">Data</p>
                </div>
            </div>
        </div>

    </div>

</div>
  <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
  <script src="{% static 'bs5/bootstrap.js' %}"></script>

</body>
</html>
