<!DOCTYPE html>
{% extends 'nav_bar.html' %}
{% load static %}
{% block head %}
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/3afd3220e7.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/android-chrome-192x192.png' %}"/>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/android-chrome-512x512.png' %}"/>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/apple-touch-icon.png' %}"/>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon-16x16.png' %}"/>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon-32x32.png' %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'bs5/bootstrap.css' %}">
  <title>View Card Sets</title>
    <link rel="stylesheet" href="{% static 'webpage_background.css' %}">
{{ block.super }}
<style>
    @media only screen and (max-width: 600px){
        .fixed_width_item{
            width: 10rem;
        }
    }
    @media only screen and (max-width: 600px){
        .fixed_width_item{
            width: 40rem;
        }
    }
</style>
</head>
{% endblock %}
{% block body %}
<body>
{% block nav %}{{ block.super }}{% endblock %}
  <div class="container" style="
   align-items: center;">
  <div class="row" style="height: 9rem"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6 me-5" style="width: 25rem;">
          <h3>Search</h3>

              <form action="{% url 'card_set_list' %}" method="post" id="search_form"> {% csrf_token %}
                  <label>Search for tags: <input type="text" id="input" name="input" placeholder="use ',' to separate tags"></label>
                  <input type="hidden" name="pg_num" value="{{ cur_page }}">
                  <a role="button" id="search" onclick="document.getElementById('search_form').submit()">
                      <img src="{% static 'images/Search.png' %}" alt="" style="width: 2rem; height: 2rem">
                  </a>
              </form>
            <p id="curTags">Current Tags: </p>
          <hr>
          <h3>Page Jump</h3>
              <form action="{% url 'card_set_list' %}" method="get"> {% csrf_token %}
                  <label class="my-3">
                      Jump to page:
                      <select name="pg_num" id="pgHolder" onchange="this.form.submit()"></select>
                  </label>
              </form>
          <hr>
          <h3>Redirection</h3>
            <button id="self" class="btn btn-outline-warning" onclick="window.location.href='{% url 'view_set' %}'">View My Card Sets</button>
              <button class="btn btn-outline-warning" onclick="window.location.href='{% url 'navigation' %}'">Back</button>
      </div>
        <div class="col ms-5">
            {% for c in card_sets %}
    <div class="card-set shadow card my-2 fixed_width_item overflow-auto">
          <div class="card-body">
            <div class="row">
              <div class="col-3" style="text-align: center">
                {% if c.coll_creator.profile.avatar.url != '' %}
                  <img class="img-fluid rounded-circle" src="{% static c.coll_creator.profile.avatar.url %}" alt="" style="height: 5rem; width: 5rem; object-fit: cover">
                    {% else %}
                    <img class="img-fluid rounded-circle" src="{% static 'images/bex3.jpg' %}" alt="" style="height: 5rem; width: 5rem; object-fit: cover">
                  {% endif %}
                <h4>{{ c.coll_creator.profile.nickname }}</h4>
                <small class="text-muted">{{ c.coll_create_date.date }}</small>
                <small></small>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-3">
                    <h4 class="card-title">{{ c.coll_title }}</h4>
                  </div>
                  <div class="col">
                    {% for t in c.coll_tags.all %}
                    <span class="mx-1 tags badge bg-warning float-end">{{ t }}</span>
                      {% endfor %}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p class="card-text">{{ c.coll_description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <form id="redirect_quiz{{ c.coll_id }}" action="{% url 'answer_quiz' %}" method="post"> {% csrf_token %}
                <input type="hidden" name="i" value="{{ c.coll_id }}">
            </form>
            <button class="float-end btn btn-link link-warning" onclick="document.getElementById('redirect_quiz{{ c.coll_id }}').submit()">Quiz</button>
            <button class="float-end btn btn-link link-warning" onclick="window.location.href='{% url 'flash_card' %}?i={{ c.coll_id }}'">Revision</button>
          </div>
        </div>
    {% endfor %}
        </div>
    </div>

  <div class="row my-4">
    <div class="col">

    </div>
  </div>
  </div>
  <script src="{% static 'bs5/bootstrap.js' %}"></script>
<script>
  let is_invalid = {{ invalid_quiz }};
  if(is_invalid === 1) alert("The target card set has no questions.");
  else if (is_invalid === 2) alert("The target card set is not found");
  let search_tags = {{search_tags|safe}};
  for(let h=0;h<search_tags.length;h++){
      addSearchTags(search_tags[h]);
  }

  let pgSize = {{ pg_size }};
  let pgHolder = document.getElementById("pgHolder");
  for(let a=1;a<=pgSize;a++){
      let newPageOption = document.createElement("option");
      let newPageNum = document.createTextNode(a.toString());
      newPageOption.appendChild(newPageNum);
      newPageOption.value = a.toString();
      pgHolder.appendChild(newPageOption);
  }
  let curPage = {{ cur_page }};
  let opt = pgHolder.options;
  for(let b=0;b<opt.length;b++){
      if(parseInt(opt[b].value) === curPage){
          pgHolder.selectedIndex = b;
          break;
      }
  }

  function addSearchTags(input){
      let newTag = document.createElement("span");
      let content = document.createTextNode(input);
      newTag.appendChild(content);
      newTag.classList.add("badge", "bg-warning", "mx-1");
      let element = document.getElementById("curTags");
      element.appendChild(newTag);
  }

</script>
</body>
{% endblock %}

</html>